# Build output
**/cmake-build-debug/
**/cmake-build-release/
**/cmake-build-release-win/
**/build/

# Intellij-type IDEs
**/.idea/tasks.xml
**/.idea/workspace.xml

# Visual Studio Code
.vs/

# Mac-OS hidden files
**/.DS_Store
