.wy-side-nav-search {
    background-color: #FEF8F5;
}

.wy-nav-side {
    background: #d3a99f;
    top: 72px;
}

.wy-menu-vertical a {
    color: #1f1d1d;
}

.wy-menu-vertical a:hover {
    background-color: #bd8a7e;
    color: #1f1d1d;
}

.wy-grid-for-nav {
    max-width: 1100px;
    margin-left: auto !important;
    margin-right: auto !important;
    position: relative;
    float: none !important;
    margin-top: 72px;
}

.wy-body-for-nav {
    background: #efefef;
}

ul {
    padding: 0;
}

html {
    scroll-padding-top: 72px;
}
