html {
    scroll-padding-top: 72px;
}

.page {
    margin-top: 72px;
}

.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.align-items-center {
    align-items: center !important;
}

.d-flex {
    display: flex !important;
}

.justify-content-between {
    justify-content: space-between !important;
    width: 100%;
    max-width: 1320px;
    padding-left: 2em;
    padding-right: 2em;
    margin-left: auto;
    margin-right: auto;
}

.sidebar-sticky {
    top: 72px;
}
